html {
    background-color: #f4ddd0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 0;
}

.puzzle-container {
    flex-direction: column;
    text-align: center;
    margin: 5px;
    padding: 10px;
    border: 10px;
    border-color: #591F26;
}

.tile-container {
    display: grid;
    gap: .75rem;
    grid-template-columns: repeat(4, 1fr);
    border: 4px solid #591F26;
    background-color: #d6b6ba;
    border-radius: 16px;
    padding: 10px;
}

.tile {
    background-color: #dc4d37;
    box-shadow: 1px 1px 1px 1px #591F26;
    border-radius: 10px;
    width: 5.75rem;
    height: 5.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    transition: box-shadow 0.1s;
}

.tile:hover {
    background-color: #e63014;
    transform: translateY(-1px);
    box-shadow: 2px 2px 2px 2px #02304773;
}

button {
    margin: 10px;
    background-color: #dc4d37;
    box-shadow: 1px 1px 1px 1px #591F26;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
}

.message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4ddd0;
    padding: 20px;
    border: 10px solid #591F26;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(50, 12, 12, 0.5);
    z-index: 1000;
}

rules{
    margin: 0;
}